.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

.posts {
  margin: 0px;
}
.categories-list {
  display: flex;
}


.vote-cell {
  width: 50px;
  height: 50px;
}
.vote-score {
  text-align: center;
}
.vote-up {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 20px;
  cursor: pointer;
  background: white;
  background-image: url('./icons/if-arrow-up.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.vote-down {
  display: block;
  left: 15px;
  width: 50px;
  height: 20px;
  cursor: pointer;
  background: white;
  background-image: url('./icons/if-arrow-down.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}