.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

.posts {
  margin: 0px;
}
.categories-list {
  display: flex;
}


.vote-cell {
  width: 50px;
  height: 50px;
}
.vote-score {
  text-align: center;
}
.vote-up {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 20px;
  cursor: pointer;
  background: white;
  background-image: url('./icons/if-arrow-up.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.vote-down {
  display: block;
  left: 15px;
  width: 50px;
  height: 20px;
  cursor: pointer;
  background: white;
  background-image: url('./icons/if-arrow-down.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.summary {
  margin-bottom: 0px;
  font-size: smaller
}

.comments-vote {
  margin-left: 50px;
}

.add-entity {
  position: relative;
  
  
}
.add-entity a {
  position: absolute;
  right: 50px;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.sort-top {
  position: relative;
}

.sort-changer {
  position: absolute;
  right: 0;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sort-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.close-create-entity {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-entity-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.create-entity-details {
  margin-left: 20px;
}


.create-entity-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}


.create-entity-details button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}